# Task 1

We are demonstrating the use of a **bold** and *italics* text (and the use of a title above).

# Task 3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import os
os.chdir("../..")

In [2]:
from Scripts.functions import load_and_process

In [3]:
load_and_process('/Users/medharamdewar/Desktop/course-project-group_1016/Data/Raw/hour.csv')

,Instant,Date,Season,Month,Hour,Holiday?,Day of Week,Workday?,Weather Situation,Temperature,Feeling Temperature,Humidity,Wind Speed,Casual Users,Registered User,Total Users
0,1,2011-01-01,1,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [6]:
df = load_and_process('/Users/medharamdewar/Desktop/course-project-group_1016/Data/Raw/hour.csv')
df

,Instant,Date,Season,Month,Hour,Holiday?,Day of Week,Workday?,Weather Situation,Temperature,Feeling Temperature,Humidity,Wind Speed,Casual Users,Registered User,Total Users
0,1,2011-01-01,1,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [7]:
#summary of DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Instant              17379 non-null  int64
 1   Date                 17379 non-null  object
 2   Season               17379 non-null  int64
 3   Month                17379 non-null  int64
 4   Hour                 17379 non-null  int64
 5   Holiday?             17379 non-null  int64
 6   Day of Week          17379 non-null  int64
 7   Workday?             17379 non-null  int64
 8   Weather Situation    17379 non-null  int64
 9   Temperature          17379 non-null  float64
 10  Feeling Temperature  17379 non-null  float64
 11  Humidity             17379 non-null  float64
 12  Wind Speed           17379 non-null  float64
 13  Casual Users         17379 non-null  int64
 14  Registered User      17379 non-null  int64
 15  Total Users          17379 non-null  int64
dtypes: float64(4), int64(11), object(1)
memory usage: 2.1+ MB

In [ ]:
import pandas as pd
def load_and_process(url_or_path_to_csv_file):


    #Method Chain 1 (load data, rename columns, drop unneeded columns)
    df1 = (
    pd.read_csv(url_or_path_to_csv_file)
    .rename(columns={"instant":"Instant", "dteday":"Date", "season":"Season", "yr":"Year of Use", "mnth":"Month", "hr":"Hour", "weekday":"Day of Week", "workingday":"Workday?", "holiday":"Holiday?", "casual":"Casual Users", "registered":"Registered User", "cnt":"Total Users", "weathersit":"Weather Situation", "temp":"Temperature", "atemp":"Feeling Temperature", "hum":"Humidity", "windspeed":"Wind Speed"})
    .drop(columns=['Year of Use'])
    )
 

    #Method Chain 2 (Editing columns to be more descriptive)
    df2 = (
    df1
    .assign(Casual_Ratio = df1['Casual Users'] / df1['Total Users'])
    )
    df2['Month'] = df1['Month'].replace([1,2,3,4,5,6,7,8,9,10,11,12], ['January','February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])
    df2['Holiday?'] = df1['Holiday?'].replace([0,1], [False, True])                                                   
    df2['Workday?'] = df1['Workday?'].replace([0,1], [False, True])
    df2['Day of Week'] = df1['Day of Week'].replace([1,2,3,4,5,6,0], ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])
    df2['Weather Situation'] = df1['Weather Situation'].replace([1,2,3,4], ['Sunny','Cloudy','Light Precipitation','Heavy Precipitation'])
    df2['Season'] = df1['Season'].replace([1,2,3,4], ['Winter','Spring','Summer','Fall'])
    df2['Year of Use'] = df1['Year of Use'].replace([0,1],[2011,2012])
    df2["Temperature"] = 41 * df1["Temperature"]
    df2["Feeling Temperature"] = 50 * df1["Feeling Temperature"]
    df2["Wind Speed"] = 67 * df1["Wind Speed"]
    return df2

# Task 4 - EDA (Medha)

In [ ]:
graph=sns.catplot(data=df2, y= "Total Users",x= "Weather Situation", hue= "Day of Week",col="Season")
print("The four graphs show the total amount of bicycle users per season. There seems to be a direct correlation between the weather condition and the amount of users. Unsurprisingly, there seems to be little to no bicycle riders when the weather is bad. There also seems to be less bicycle riders during season 1 which is winter ")

In [ ]:
graph_1=sns.catplot(data=df2, y= "Total Users",x= "Holiday?", hue= "Day of Week",col="Season")
print("There are four graphs, each representing different seasons. I am trying to investigate whether there is a correlation between total users and holidays per season. It is interesting to see that people consistently, across all seasons, use their bicycles less during holidays")

In [ ]:
#Relationship between Total Users and Season
df2.plot(kind='scatter',x='Season', y='Total Users')

In [ ]:
#Exploring dataset possibilities
sns.pairplot(df2)

In [ ]:
#Show counts of Temperature
sns.countplot(x='Temperature', data=df2)
sns.set(rc={'figure.figsize':(11.7,6.27)})

In [ ]:
#Show counts of total users
sns.countplot(x='Total Users', data=df2)
sns.set(rc={'figure.figsize':(11.7,6.27)})

# Task 4 - Olivia

In [ ]:
sns.countplot(data=df, y= "Season", palette= 'pastel', order= df['Season'].value_counts().index[:], hue= 'Weather Situation')

#Interestingly, the general ratio of the different weather situations did not change drastically beetween the seasons, and there were many sunny days - it must be beautiful in DC all year round!

In [ ]:
sns.countplot(data=df, y= ("Total Users"), palette= 'pastel', order= df['Total Users'].value_counts().index[:], hue= 'Day of Week')

plt.show()

#From this plot, it is evident that the count of total users is very high on Tuesdays, and Mondays. There are also a fair amount of users on the weekends (Saturday and Sunday).

In [ ]:
sns.countplot(data=df, y= ("Casual Users"), palette= 'pastel', order= df['Casual Users'].value_counts().index[:], hue= 'Holiday?')

plt.show()

In [ ]:
sns.countplot(data=df, y= ("Registered User"), palette= 'pastel', order= df['Registered User'].value_counts().index[:], hue= 'Holiday?')

plt.show()

In [ ]:
sns.displot(data=df, x = "Total Users", bins=18, hue = "Season", multiple="stack")

plt.show()

#The histogram below shows that the count of total users is higher for a smaller amount of users.

In [ ]:
sns.displot(data=df, x = "Casual Users", bins=18, hue = "Holiday?", multiple="stack")

plt.show()

In [ ]:
sns.displot(data=df, x = "Registered User", bins=18, hue = "Holiday?", multiple="stack")

plt.show()

# Task 5 - Analysis

**Research Questions:**
    
1. What is the relationship between day of the week, and number of casual vs. registered users? Are there more registered users on weekdays, and casual users on weekends?
   
2. Does weather affect the total number of users?
    
3. Is there a spike in number of users on holidays?

1. What is the relationship between day of the week, and number of casual vs. registered users? Are there more registered users on weekdays, and casual users on weekends?

In [ ]:
df.plot(x='Day of Week', y='Casual Users')

In [ ]:
df.plot(x='Workday?', y='Casual Users')

In [ ]:
df.plot(x='Day of Week', y='Registered User')

In [ ]:
df.plot(x='Workday?', y='Casual Users')

In [ ]:
sns.displot(df, x="Casual Users", hue="Day of Week", kind="kde")

In [ ]:
sns.displot(df, x="Casual Users", hue="Workday?", kind="kde")

#There are many more casual users of weekdays than non-weekdays, according to this plot.

In [ ]:
sns.displot(df, x="Registered User", hue="Day of Week", kind="kde")

#There are a lot of registered users on Saturday and Sunday.

In [ ]:
sns.displot(df, x="Registered User", hue="Workday?", kind="kde")

#There seems to be more registered users on non-workdays, however this is likely becuase there is many more workdays than non-workdays.

- From the plots above, it is evident that there is an increase in both casual and registered users on the Saturdays and Sundays, compared to Monday-Friday.

- Interestingly, there seem to be a higher count of both casual and registered users on workdays, compared to non-workdays.

- There also seems to be a higher proportion of casual users on workdays to weekends, compared to registered users.

- When we look at the days individually, the highest count of users on Saturday and Sunday for both casual and registered users, but when the number of users is considered in terms of workdays, there are many more users on workdays than non-workdays. What is causing these seemingly contradictory results? The fact that there are many more weekdays than weekends! It is biased to compare the total count of registered and casual users on workdays vs. non-workdays for this reason. 
    
- Essentially, we can conlcude that there are a higher number of both casual and registered users PER DAY on weekend days as opposed to work days.

2. Does weather affect the total number of users?

In [ ]:
sns.countplot(data=df, y= ("Total Users"), palette= 'pastel', order= df['Total Users'].value_counts().index[:], hue= 'Weather Situation')

plt.show()

In [ ]:
sns.displot(df, x="Total Users", hue="Weather Situation", kind="kde")

Evidently, there are many more users on sunny days, followed by cloudy days, with fewer users on light or heavy precipitation days.

3. Is there a spike in number of users on holidays?

In [ ]:
sns.displot(df, x="Total Users", hue="Holiday?", kind="kde")

#This plot shows that there are many more users on non-holidays, but does does not provide any insight into relative amounts, so it is not useful.

In [ ]:
df2 = df[df['Holiday?']==True]
df3 = df[df['Holiday?']==False]

In [ ]:
df2['Total Users'].mean()

In [ ]:
df3['Total Users'].mean()

In [ ]:
#The average value of users in an hour is slightly lower on holidays than on non-holidays. 
#Therefore, there is NOT a spike in users on holidays.